
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    
    .mobile-button {
        width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-container {
        margin: 50px 100px 100px 100px;
    }
}