.add-entry {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.new-entry {
    margin-top: 10px;
    padding: 30px 30px;
    border: 1px solid black;
    min-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border-radius: 10px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10%;
}

label {
    margin-top: 20px;
    text-align: left;
    font-size: 12px;
}

.form-date {
    width: 189px;
    height: 40px;
    font-size: 14px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    
    .add-entry {
        display: flex;
        flex-flow: row wrap;
        padding: 0px 0px;
        width: 250px;
    }
    
    .new-entry {
        min-width: 150px;
        margin-top: 50px;
        padding: 30px 30px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 10%;
    }
    
    label {
        margin-top: 20px;
        font-size: 12px;
        margin-left: 10px;
    }
    
    .form-date {
        width: 189px;
        height: 40px;
        font-size: 14px;
        -webkit-appearance: none;
    }

    .form-line {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .entry-form {
        margin-bottom: 30px;
    }
}