.entry {
    border: 1px solid black;
    min-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10%;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 60%;
}

.right {
    margin: 20px 30px;
    width: 40%;
}

.data {
    display: flex;
    align-items: center;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 0px 20px;
}

.label {
    font-size: 12px;
}

.date {
    font-size: 18px;
}