
.entries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 100%;
    margin: 0px 0px;
    font-size: 15px;
    letter-spacing: .03em;
    text-align: justify;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
}

.journal-title {
    font-size: 20px;
    letter-spacing: .1em;
    margin-top: 20px;
    margin-bottom: 50px;
}

.journal-empty {
    font-size: 20px;
    letter-spacing: .1em;
    margin-top: 100px;
}

.line-item {
    width: 550px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border: 1px solid black;
    margin-top: 3px;
    border-radius: 10px;
    padding: 10px 15px;
}

.line-item:hover {
    color: white;
    background-color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px 15px;
}

.right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-right: 0px;
}

.date {
    font-size: 16px;
}