
.entries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0px 0px;
    font-size: 15px;
    letter-spacing: .03em;
    text-align: justify;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border: 1px solid black;
    border-radius: 10px;
    width: 650px;
    margin-bottom: 10%;
}

.journal-title {
    font-size: 20px;
    letter-spacing: .1em;
    margin-top: 20px;
    margin-bottom: 50px;
}

.journal-empty {
    font-size: 20px;
    letter-spacing: .1em;
    margin-top: 100px;
}

.line-item {
    width: 650px;
    border-bottom: 1px solid black;
    height: 65px;
}

.entries:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.line-item:hover {
    color: white;
    background-color: black;
}

// .line-item:first-child:hover {
//     color: white;
//     background-color: black;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
// }

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0px 0px 0px 20px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    min-width: 150px;
    margin-left: -8px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    min-height: 100%;
    width: 150px;
    padding: 5px 10px 5px 0px;
    margin: 0px;
}

.right {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .entries {
        margin-top: 50px;
        margin-bottom: 25%;
        width: 290px;
    }

    .journal-title {
        font-size: 18px;
        letter-spacing: .1em;
        margin-top: 42px;
        margin-bottom: 0px;
    }

    .journal-empty {
        font-size: 20px;
        letter-spacing: .1em;
        margin-top: 100px;
    }
    
    .line-item {
        width: 290px;
        height: 90px;
        border-bottom: 1px solid black;
        padding: 0px 0px 0px 0px;
    }

    .row {
        height: 100%;
        width: 100%;
    }
    
    .top-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        margin-left: -40px;
    }

    .date {
        font-size: 14px;
        margin-left: 15px;
    }

    .dot {
        opacity: 0%;
        font-size: 0px;
    }

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid black;
        min-height: 100%;
        width: 145px;
    }

    .right {
        font-size: 16px;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        margin-left: 15px;
        width: 145px;
    }

    .card-name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        line-height: 0.0;
        margin-left: 0px;
        font-size: 12px;
    }
    
}