
// .title-container {
//     position: absolute;
//     display: inline;
//     margin-left: auto;
//     margin-right: auto;
// }

.title {
    align-self: auto;
    max-width: 50%;
}

.title {
    text-decoration: none;	
    font-size: 30px;	
    margin: 32px;	
    position: absolute;
    text-align: center;
}