
.title {
    width: 305px;
    margin: 1.6% 20% 0% -4.4%;
    position: absolute;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .title {
      width: 210px;
      margin: 8px 0px 0px 10px;
    }
  }