
.title {
    width: 280px;
    margin: 1.6% 20% 0% -3.2%;
    position: absolute;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    // .title {
    //     width: 200px;
    //     margin: 3% 20% 0% 6%;
    //     position: absolute;
    // }

    .title {
        width: 260px;
        margin: 23% 0% 0% -4.5%;
        position: absolute;
    }
  }