.card {
    max-width: 200px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border-radius: 15px;
}

.card-row {
    margin: auto;
    display: flex;
    align-items: center;
    width: 100vw;
    margin-bottom: 50px;
}

.card-right {
    margin-left: 30px;
    width: 40vw;
}