.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-align: justify;
    width: 280px;
    line-height: 1.4;
  
    .intro {
        margin-top: 10px;
        margin-bottom: 60px;
    }

}