
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 20px 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: black;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Futura, sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

*:focus {
  outline: none;
}


.nav-container {
  display: inline-block;
  position: relative;
}

@mixin styling() {
  background-color: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: Futura;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.button {
  @include styling();
  padding: 0px 30px 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 0;
  background-color: white;
  color: black;
  cursor: pointer;
  outline: 0;
  font-weight: bolder;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 5px;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.dropdown {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: white;
  z-index: 1000;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  padding: 20px 15px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.list-item:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.nth {
  border-top: 1px solid black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 225px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 50px 10px 10px 10px;
  width: 100%;
  font-size: 10px;

}

.body {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invert-button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Futura;
  font-size: 14px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.invert-button:hover {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
}
