.card {
    max-width: 230px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border-radius: 15px;
}

.card-row {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 30px;
}

.card-right {
    margin-top: 0px;
    margin-left: 120px;
    max-width: 230px;
}

.copyright {
    font-size: 15px;
    letter-spacing: .0em;
}

.position-label {
    font-size: 12px;
    text-align: left;
    letter-spacing: .05em;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
}

.card-label {
    font-size: 17px;
    letter-spacing: .08em;
}

.card-description {
    font-size: 16px;
    letter-spacing: .01em;
    text-align: justify;
    line-height: 1.3;
    margin: 10px 0px 8px 0px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    
    .card {
        max-width: 215px;
        margin: 0px 0px;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
        border-radius: 15px;
    }

    .card-row {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        margin-top: 0px;
    }

    .card-right {
        margin: 20px 0px 30px 0px;
        max-width: 215px;
    }

    .position-label {
        font-size: 11px;
        text-align: left;
        letter-spacing: .05em;
        font-family: futura-pt, sans-serif;
        font-weight: 500;
    }
    
    .card-label {
        font-size: 15px;
        letter-spacing: .08em;
    }

    .card-description {
        font-size: 13px;
        letter-spacing: .01em;
        text-align: justify;
        line-height: 1.3;
        margin: 10px 0px 8px 0px;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
    }

    .copyright {
        font-size: 12px;
    }
}